<router-outlet></router-outlet>

  <div id="logoutWarningModal"  class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-danger">
          <h4 class="modal-title">Session Timeout Warning</h4>
        </div>
        <div class="modal-body">
          <p>Your session will expire soon due to inactivity. Press any key to prevent logout.</p>

          <div id="countdown">
            <div id="countdown-number">{{logoutTimer}}</div>
            <svg>
              <circle r="18" cx="20" cy="20"></circle>
            </svg>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-custom" data-dismiss="modal">Dismiss</button>
        </div>
      </div>

    </div>
  </div>
  <!--The content below is only a placeholder and can be replaced.-->
