<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title clickable panel-collapsed">
            <span class="fa fa-question-circle"></span> Questions <span *ngIf="questions">({{questions.length}})</span>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
        </h3>
    </div>
    <div class="panel-body" style="display:none">
        <div class="btnc pb15 clearfix">
            <a routerLink="/dashboard/questions" title="View all Question" class="active fr">{{constants.LBL_VIEWALL}}</a>
        </div>
        <div class="panel-inner">
            {{constants.LBL_SEARCH_QN_EXIXTS}}
            <div id="sbox" class="sbc">
                <input type="text" placeholder="Search" (keyup)="searchEvent($event)">
                <a href="javascript:void(0);" class="fa fa-search" (click)="searchKeywords()"></a>
                <div class="inb btnc panelb fr">
                    <a (click)="createNewQuestion()" title="Create New Question" class="active">{{constants.LBL_CREATE_NEWQN}}</a>
                </div>
            </div>
            <div>
                <div class="text-center pb15" *ngIf="questions">{{questions.length}} {{constants.LBL_RESULTS}}</div>
                <div class="result-data">
                    <div *ngFor="let question of questions">
                        <a href="javascript:void(0);" (click)="OnDemoCodeSelect(question.DemoCode)" innerHTML="{{question.QuestionText | highlight:searchText}}"></a>
                    </div>
                    <div *ngIf="!questions">
                        {{displayMsg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<bs-modal #progressBar [backdrop]="'static'">
    <div style="padding-left: 50%;
    margin-top: 33%;">
        <loaders-css [loader]="'ball-spin-fade-loader'" [loaderClass]="'my-loader'">Loading..</loaders-css>
    </div>
</bs-modal>
